<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <p><span>Time: </span><span id="timer">60</span></p>
    <p><span>Score: </span><span id="score-num">0</span></p>
    <table>
        {% for row in session["board"] %}
        <tr>
            {% for letter in row %}
            <td>{{letter}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <form id="submit-guess">
        <input type="text" name="guess">
        <button type="submit" id="submit">Submit Guess</button>
    </form>
    <p id="result"></p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/static/boggle.js"></script>
</body>

</html>